
/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image : url(fundo2.jpg);
    background-repeat: no-repeat;
    background-size: 1900px;
}

/* Estilos do cabeçalho */
header {
    background-color:#B0C4DE;
    color: #FF69B4;
    /*valores superior e inferior, seguido de valores da direita e esquerda.*/
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: red    ;
}

/* Estilos das seções */
section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 28px;
    /*margin inferior*/
    margin-bottom: 20px;
}

/* Estilos das receitas */
.receita {
    background-color:#B0C4DE;
    border: 1px solid #3CB371;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
}

.receita h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
h1{
    color:#3CB371;
    text-align: center;
}
h2{
    color:red;
    text-align: center;
    text-decoration-line:none;

}
p{
    color: black;
    text-align: center;
}
/* Estilos responsivos */
@media screen and (max-width: 768px) {
    /* Estilos responsivos aqui */
}

@media screen and (min-width: 769px) {
    /* Estilos responsivos aqui */
}
img {
    height: 200px;
    width: 300px;
    margin: auto;
    display: block;
   
}
#voltar{
    color:red;
    text-align: center;
    text-decoration-line: none;
    
}


